.custom-btn {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 40px !important;
  max-width: 10rem !important;
  margin: 0 !important;
  padding: 0.8rem 1.6rem !important;
  background: $btn-bg-color !important;
  border-radius: $btn-border-radius !important;
  border: 1px solid #f0f0f0 !important;
  line-height: 1 !important;
  text-align: center !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  text-decoration: none !important;
}

.custom-btn-group {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  gap: 0.8rem !important;
}

.custom-btn-icon {
  font-size: 1.4rem !important;
}

.custom-btn-text {
  color: rgba(27, 27, 27, 1) !important; //#202223 !important;
  font-size: 14px;
  // font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
  //   Roboto, Helvetica Neue, sans-serif !important;
  padding: 2px 0 !important;
  margin-left: 0.4rem !important;
  line-height: 1.6rem !important;
}

.custom-btn:hover {
  background-color: $btn-bh-color-hover !important;
}

///colors:
.blue-bg-btn {
  background: #e3edff !important;
}

.content-container {
  position: relative !important;
  height: 100% !important;
  // transition: margin 0.3s ease-in-out",
  transition: margin 0.3s ease-in-out !important;
}

.form-control-solid {
  height: 40px !important;
}

//select
.custom-react-select {
  z-index: 100 !important;
}

//nav link

.custom-nav-link {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 40px !important;
  max-width: 18rem !important;
  margin: 0 !important;
  padding: 0.8rem 1.6rem !important;
  background: $btn-bg-color !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.102874) !important;
  border-radius: $btn-border-radius !important;
  border: 1px solid #f0f0f0 !important;
  line-height: 1 !important;
  text-align: center !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  text-decoration: none !important;
}

.table-icon {
  font-size: 1.5rem !important;
  padding: 0 !important;
}

.custom-action-btn {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 40px !important;
  margin: 0 !important;
  padding: 0.8rem 1.6rem !important;
  background: $btn-bg-color !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.102874) !important;
  border-radius: $btn-border-radius !important; // color: rgba(32, 34, 35, 1) !important;
  border: 1px solid #f0f0f0 !important;
  line-height: 1 !important;
  text-align: center !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  text-decoration: none !important;
  width: auto !important;
}

.custom-action-btn:hover {
  background-color: rgba(20, 10, 30, 0.05) !important;
}
.custom-nav-link.active {
  color: #007bff !important;
}

.custom-nav-link:not(.active) {
  color: black !important;
}
