.react-data-table-container:hover {
  overflow-x: auto !important;
}

.dMhKqS:not(:last-of-type) {
  border-bottom-style: none !important;
}

.rdt_TableHeadRow {
  border-bottom-style: none !important;
}
