.sidebar-container {
  position: fixed !important;
  right: 0 !important;
  top: 5 !important;
  // border-left: 6px solid #1b84ff !important;
  // border-right: 6px solid #1b84ff !important;
  border-radius: 10px !important;
  width: 300px !important;
  height: 100% !important;
  transition: transform 0.3s ease-in-out !important;
  // z-index: 1 !important;
  margin-right: 10px !important;
  overflow-y: scroll !important;
  // padding-right: 20px !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  box-shadow: -6px 0 6px rgba(0, 0, 0, 0.1), 6px 0 6px rgba(0, 0, 0, 0.1) !important;
}

.sidebar-closed {
  display: none !important;
  transform: translateX(-100%) !important;
}

.sidebar-open {
  transform: translateX(0) !important;
}

.content-container {
  transition: margin-left 0.3s ease-in-out !important;
}

.close-filter-btn {
  border: none !important;
  background-color: transparent !important;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer !important;
}

.close-filter-btn:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  transform: scale(1.1) !important;
}

.close-filter-btn i {
  transition: transform 0.3s ease-in-out !important;
}

.saved-filters-container {
  max-height: 240px !important;
  overflow-y: auto !important;
  padding-right: 5px !important;
}

.saved-filters-container::-webkit-scrollbar {
  width: 6px !important;
}

.saved-filters-container::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 3px !important;
}

.saved-filters-container::-webkit-scrollbar-track {
  background: #f8f9fa !important;
}

//input and save

.custom-input-save {
  border: 2px solid #0d6efd !important;
  padding: 0.5rem !important;
  transition: box-shadow 0.2s !important;
}

.custom-input-save:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.input-group-text.custom-input-save {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0 impot !important;
  border-radius: 4px 0 0 4px;
  padding: 0 8px;
  font-size: 1.2rem;
}

.input-group .form-control.custom-input.icon-save {
  border-right: 0 !important;
}

.custom-input-save.save-span {
  background-color: #0d6efd;
}

.save-icon {
  color: white !important ;
  font-size: 20px !important ;
  cursor: pointer !important ;
}

.save-filters-icon {
  font-size: 18px !important;
  cursor: pointer;
}

// .filter-button {
//   background: #1b84ff !important;
//   color: white !important;
//   font-weight: bold !important;
//   border-radius: 25px !important;
//   padding: 8px 16px !important;
//   border: none !important;
//   font-size: 1.3rem !important;
//   cursor: pointer !important;
//   transition: box-shadow 0.3s ease !important;
// }

// .filter-button:hover {
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
// }

// .filter-button-icon {
//   font-size: 1.5rem !important;
//   line-height: 1 !important;
//   color: white !important;
// }

.filter-btn-action {
  background: #1b84ff !important; //linear-gradient(90deg, #007bff, #0056b3);
  color: #fff !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 15px !important;
  transition: transform 0.2s ease, background 0.3s ease !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.save-action {
  background: #769fcd !important; //ff9a00
}
