.sidebar-container {
  position: fixed !important;
  right: 0 !important;
  top: 5 !important;
  border-left: 10px solid #3b82f6 !important;
  border-right: 10px solid #3b82f6 !important;
  border-radius: 10px !important;
  width: 300px !important;
  height: 100% !important;
  transition: transform 0.3s ease-in-out !important;
  // z-index: 1 !important;
  margin-right: 10px !important;
  overflow-y: scroll !important;
  // padding-right: 20px !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.sidebar-closed {
  display: none !important;
  transform: translateX(-100%) !important;
}

.sidebar-open {
  transform: translateX(0) !important;
}

.content-container {
  transition: margin-left 0.3s ease-in-out !important;
}

.close-filter-btn {
  border: none !important;
  background-color: transparent !important;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer !important;
}

.close-filter-btn:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  transform: scale(1.1) !important;
}

.close-filter-btn i {
  transition: transform 0.3s ease-in-out !important;
}

.saved-filters-container {
  max-height: 240px !important;
  overflow-y: auto !important;
  padding-right: 5px !important;
}

.saved-filters-container::-webkit-scrollbar {
  width: 6px !important;
}

.saved-filters-container::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 3px !important;
}

.saved-filters-container::-webkit-scrollbar-track {
  background: #f8f9fa !important;
}

//input and save

.custom-input-save {
  border: 1px solid #3b82f6 !important;
  padding: 0.5rem !important;
  transition: box-shadow 0.2s !important;
}

.custom-input-save:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.input-group-text.custom-input-save {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0 impot !important;
  border-radius: 4px 0 0 4px;
  padding: 0 8px;
  font-size: 1.2rem;
}

.input-group .form-control.custom-input.icon-save {
  border-right: 0 !important;
}

.custom-input-save.save-span {
  background-color: #3b82f6;
}

.save-icon {
  color: white !important ;
  font-size: 20px !important ;
  cursor: pointer !important ;
}

.save-filters-icon {
  font-size: 18px !important;
  cursor: pointer;
}
