/* styles.css */
.quill-content-important {
    overflow: hidden !important;
    min-height: unset !important;
   .img{
     height: 100% !important;
     width: 100% !important;
   }
  }
.bold-large {
  font-weight: bold;
  font-size: 1rem; /* Adjust size as needed */
}