$content-background-color: #f1f1f4;

:root {
  --blue-gradient: linear-gradient(90deg, #007bff, #0056b3);
}

$btn-border-radius: 5px;
$btn-bg-color: rgba(20, 10, 30, 0.05);
$btn-bh-color-hover: rgba(11, 1, 20, 0.1);
