.step-navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.step-line {
  flex: 1;
  height: 2px;
  background-color: lightgray;
  margin: 0 0;
  z-index: 0;
}

.step-navigation-step {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-line-complete {
  background-color: green;
}

.step-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: transparent !important;
  color: #007bff !important;
  border: 2px solid #007bff !important;
}

.border-color-success {
  border-color: #28a745 !important;
  color: #28a745 !important;
}

.text-color-success {
  color: #28a745 !important;
}

.border-color-primary {
  border-color: #007bff !important;
}

.text-color-primary {
  color: #007bff !important;
}

.border-color-secondary {
  border-color: #707070 !important;
}

.text-color-secondary {
  color: #707070 !important;
}

// .step-button {
//   width: 60px;
//   height: 60px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   z-index: 1;
//   background-color: transparent !important;
//   color: gray;
//   border-width: 2px;
//   border-style: solid;
// }

.step-title {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

.step-icon {
  font-size: 24px !important;
  position: absolute;
  transform: translate(-40%, -50%);
}

// software installation
.option-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.option-btn.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.url-input-container,
.file-upload-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.success-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.success-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}

.success-message {
  font-size: 1.2rem;
  color: #28a745;
  font-weight: bold;
}

.error-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #b12e0d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}

.error-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.error-message {
  font-size: 1.2rem;
  color: #b12e0d;
  font-weight: bold;
}
